# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bark-server
bark-server-local
bark-server.local*.log
bark-server.local.pid
bark-data-local/
com.rziiiii.bark-server.plist
dist
.idea/
.vscode/
